*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 100px;
    height: 100px;
    background-color: rgb(81, 6, 81);
    position: absolute;
    cursor: grab;
    border-radius: 50%;
}

.box.active{
    cursor: grabbing;
}